<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" align="center" style="width: 80%;">
    <tr>
        <td colspan="2">
            <h1>회원 상세보기</h1>
        </td>
    </tr>
    <tr>
        <td width="100">회원번호 : </td>
        <td th:text="${member.id}"></td>
    </tr>
    <tr>
        <td>아이디 : </td>
        <td th:text="${member.username}"></td>
    </tr>
    <tr>
        <td>이름 : </td>
        <td th:text="${member.name}"></td>
    </tr>
    <tr>
        <td>이메일 : </td>
        <td th:text="${member.email}"></td>
    </tr>
    <tr>
        <td>주민번호 : </td>
        <td th:text="${member.ssn}"></td>
    </tr>
    <tr>
        <td>주소 : </td>
        <td>
            (<span th:text="${member.address1}"></span>)<br>
            <span th:text="${member.address2}"></span>&nbsp;
            <span th:text="${member.address3}"></span>&nbsp;
            <span th:text="${member.address4}"></span>
        </td>
    </tr>
    <tr>
        <td>권한</td>
        <td>
            <span th:text="${member.role}"></span>
            <br>
            <span th:if="${member.role.name() == 'ADMIN'}">관리자 권한입니다.</span>
            <span th:unless="${member.role.toString() == 'ADMIN'}">일반 사용자 권한입니다.</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 30px;">
            |
            <a href="/member/list">목록</a>
            |
            <a href="/member/chuga">등록</a>
            |
            <a th:href="@{|/member/sujung/${member.id}|}">수정</a>
            |
            <a th:href="@{|/member/sakje/${member.id}|}">삭제</a>
            |
        </td>
    </tr>
</table>

</body>
</html>