<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>메모 목록</h1>

<table border="1">
    <tr>
        <th>구분</th>
        <th>순번</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>수정일</th>
    </tr>

    <tr th:each="memo, status : ${list}">
        <td th:switch="${status.even}">
            <span th:case=true>짝수</span>
            <span th:case=false>홀수</span>
        </td>
        <td th:text="${memo.id}"></td>
        <td>
            <a th:href="@{|/memo/view/${memo.id}|}" th:text="${memo.writer}"></a>
        </td>
        <td>
            <span th:text="${memo.createdDate}"></span><br>
            <span th:text="${#temporals.format(memo.createdDate, 'yyyy-MM-dd')}"></span><br>
            <span th:text="${#strings.substring(memo.createdDate, 0, 10)}"></span><br>
        </td>
        <td>
            <span th:text="${memo.modifiedDate}"></span><br>
            <span th:text="${#temporals.format(memo.modifiedDate, 'yyyy-MM-dd')}"></span><br>
            <span th:text="${#strings.substring(memo.modifiedDate, 0, 10)}"></span><br>
        </td>
    </tr>
</table>

<br>
|
<a href="/memo/chuga">등록</a>
|

</body>
</html>