<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding: 20px 0px 0px 0px;">
    |
    <a href="/">Home</a>
    |
    <a href="/member/list">회원관리</a>
    |
    <a href="/memo/list">메모장</a>
    |
</div>

<h1>회원수정</h1>

<form name="form" method="post" action="/member/sujungProc">
    <input type="hidden" name="id" th:value="${member.id}">

    아이디 : <span th:text="${member.username}"></span><br>
    비밀번호 : <input type="password" name="password"><br>
    이름 : <span th:text="${member.name}"></span><br>
    주민번호 : <span th:text="${member.ssn}"></span><br>
    전화번호 : <input type="text" name="phone" th:value="${member.phone}"><br>
    이메일 : <input type="text" name="email" th:value="${member.email}"><br>
    주소1 : <input type="text" name="address1" th:value="${member.address1}"><br>
    주소2 : <input type="text" name="address2" th:value="${member.address2}"><br>
    주소3 : <input type="text" name="address3" th:value="${member.address3}"><br>
    주소4 : <input type="text" name="address4" th:value="${member.address4}"><br>
    등급 :
    <input type="radio" name="grade" value="일반회원" th:checked="${member.grade == '일반회원'}"> 일반회원 &nbsp;&nbsp;
    <input type="radio" name="grade" value="관리자" th:checked="${member.grade == '관리자'}"> 관리자
    <br><br>
    <button type="submit">수정하기</button>
    <button type="button" onclick="location.href='/member/list';">목록으로</button>
</form>

</body>
</html>