<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>메모 수정</h1>

<form name="form" method="post" action="/memo/sujungProc">
    <input type="hidden" name="id" th:value="${memo.id}">

    <table border="1" align="center" style="width: 80%;">
        <tr>
            <td>작성자 : </td>
            <td><span th:text="${memo.writer}"></span></td>
        </tr>
        <tr>
            <td>내용 : </td>
            <td><textarea name="content" style="width: 200px; height: 80px;">[[${memo.content}]]</textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">수정하기</button>
                <button type="button" onclick="history.back();">이전화면</button>
                <button type="button" onclick="location.href='/memo/list';">목록으로</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>