<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>방명록 삭제</h1>

<form name="form" method="post" action="/guestBook/sakjeProc">
    <input type="hidden" name="id" th:value="${guestBook.id}"><br>

    이름 : <span th:text="${guestBook.name}"></span><br>
    이메일(*) : <span th:text="${guestBook.email}"></span><br>
    비밀번호(*) : <input type="password" name="passwd"><br>
    내용 : <span th:text="${guestBook.content}"></span><br>
    <br>
    <button type="submit">삭제하기</button>
</form>

</body>
</html>