<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>전화번호부 등록</h1>

<form name="form" method="post" action="/phoneBook/chugaProc">
    <table border="1" align="center" style="width: 80%;">
        <tr>
            <td>이름 : </td>
            <td><input type="text" name="name" placeholder="이름"></td>
        </tr>
        <tr>
            <td>전화번호 : </td>
            <td><input type="text" name="phone" placeholder="전화번호"></td>
        </tr>
        <tr>
            <td>주소 : </td>
            <td><input type="text" name="address" placeholder="주소"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">저장하기</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>