<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>성적 삭제</h2>

<form name="form" method="post" action="/studentGrade/sakjeProc">
    <input type="hidden" name="id" th:value="${studentGrade.id}">

    이름: <span th:text="${studentGrade.name}"></span><br>
    국어: <span th:text="${studentGrade.korScore}"></span><br>
    영어: <span th:text="${studentGrade.engScore}"></span><br>
    수학: <span th:text="${studentGrade.mathScore}"></span><br>
    <button type="submit">삭제하기</button>
    <a th:href="@{/studentGrade/list}">목록으로</a>
</form>

</body>
</html>